/* Default styles for Animated Toggle Menu */
.atm-wrapper {
  position: relative;
}

.atm-toggle {
  outline: none;
}

.atm-containers {
  scrollbar-width: thin;
}

.atm-containers::-webkit-scrollbar {
  width: 8px;
}

.atm-containers::-webkit-scrollbar-track {
  background: transparent;
}

.atm-containers::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.atm-containers::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
